@import '../utils/mixins.scss';
@include spinner;

.card {
  background-color: $alice-blue;
  margin: 10px;
  cursor: pointer;
  

  .card-body {
    background-color: $alice-blue;
    color: $coal;
    justify-content: center;
    text-align: center;
    padding: 10px;
  }
}