@import '../utils/mixins.scss';
@import "../utils/variables.scss";
@include spinner;

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;

  .login-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;

    h2 {
      margin: 10px;
      font-size: 1.5em;
      color: $dark-blue;
    }

    p {
      margin: 40px;
      color: $dark-blue;
      max-width: 600px;
      font-size: 1rem;
    }
  }

  .contact-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 30px;
    text-align: center;
    font-weight: bold;
    color: $dark-blue;
    background-color: rgba(109, 191, 207, 0.168);

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  .marquee-container {
    max-width: 100vw;
    margin: 30px 0;
  }

  .marquee-logo {
    height: 50px;
    margin: 0 20px;
  }

  .map-container {
    background-color: rgba(109, 191, 207, 0.168);
    padding: 15px;
    iframe {
      width: 100%;
    }
  }
}


@media (max-width: 768px) {
  .home {
    .login-section {
      padding: 20px;

      h3 {
        font-size: 0.9em;
      }

      p {
        font-size: 0.875rem;
        margin: 20px;
      }
    }
    .contact-container {
      flex-direction: column;
      align-items: center;
      font-size: 0.875rem;

      div {
        margin: 20px 0;
        text-align: center;
      }

      a {
        font-size: 0.875rem;
        text-decoration: none;
        color: inherit;
      }

    }
    .marquee-logo {
      height: 40px;
    }
  }
}

@media (max-width: 480px) {
  .home {
    .login-section {
      h3 {
        font-size: 0.8em; 
      }

      p {
        font-size: 0.75rem; 
      }
    }

    .contact-container {
      font-size: 0.75rem;

      a {
        font-size: 0.75rem;
        text-decoration: none;
        color: inherit;
      }
    }

    .marquee-logo {
      height: 30px;
    }
  }
}
