@import '../utils/variables.scss';
@import '../utils/mixins.scss';
@include spinner;

.home {
  display: flex;
  flex-direction: column;
  align-items: center;

  .login-section {
    padding: 20px;
    text-align: center;
  
    h3 {
      margin: 10px;
      font-size: 1em;
      color: $dark-blue;
    }
    p {
      margin: 40px;
      color: $dark-blue;
    }
  }
  
  .contact-section {
    text-align: center;
    .map-container {
      iframe {
        width: 100%;
      }
    }

    p {
      font-weight: bold;
      color: $dark-blue;
    }
    a {
      font-weight: bold;
      text-decoration: none;
    }
  
  }

}

.marquee-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 97vw;
  margin: 30px 0 30px 0;
}

.marquee {
  display: flex;
  align-items: center;
}

.marquee-logo {
  height: 50px;
  margin: 0 20px;
}

